<h1>Listado de Productos</h1>

<div id="product-list">
  {{#each products}}
    <div class="product" data-id="{{this.id}}">
      <h3>{{this.title}}</h3>
      <p>{{this.description}}</p>
      <p><strong>Precio:</strong> ${{this.price}}</p>
      <p><strong>Stock:</strong> {{this.stock}}</p>
    </div>
  {{/each}}
</div>
